/* ============================================================================
  Buttons and links
============================================================================== */

a,
.text-link {
  display: inline-block;
  background: transparent;
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($color-primary, 15%);
  }

  img {
    display: block;
  }
}

.image-link {
  display: block;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn,
button {
  span,
  svg {
    pointer-events: none;
  }
}

.btn {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 15px 21px;
  border: 2px solid transparent;
  border-radius: $border-radius;
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  font-family: $font-gotham-extra-narrow-bold;
  font-size: 1.4rem;
  letter-spacing: 0.128rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  appearance: none;

  @include media-query($min, $large) {
    padding: 15px 30px;
    font-size: 1.6rem;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken($color-btn-primary, 15%);
    color: $color-btn-primary-text;
  }

  &[disabled],
  &.disabled {
    border-color: $color-disabled;
    background-color: $color-disabled;
    color: darken($color-disabled, 20%);
    cursor: default;

    &:hover,
    &:focus {
      border-color: $color-disabled;
      background-color: $color-disabled;
      color: darken($color-disabled, 20%);
    }
  }
}

.btn--secondary {
  background-color: $color-btn-secondary;
  color: $color-btn-secondary-text;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($color-btn-secondary, 15%);
    color: $color-btn-secondary-text;
  }
}

.btn--outline {
  transition:
    background $transition-primary,
    border-color $transition-primary,
    color $transition-primary;
  border: 2px solid $color-btn-primary;
  background: none;
  color: $color-btn-primary;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid $color-btn-primary;
    background-color: $color-btn-primary;
    color: $color-btn-primary-text;
  }

  &.btn--secondary {
    border: 2px solid $color-btn-secondary;
    color: $color-btn-secondary;

    &:hover,
    &:active,
    &:focus {
      border: 2px solid darken($color-btn-secondary, 15%);
      color: $color-btn-secondary-text;
    }
  }
}

.btn--full {
  width: 100%;
}
