<show-if-cart-empty class="ajaxcart__empty text-center hide">
  <h4 class="ajaxcart__empty-title heading-4">
    {{ settings.empty_title }}
  </h4>

  <a class="ajaxcart__empty-cta ui-link" href="{{ settings.empty_cta_url }}" class="btn btn--primary">
    {{ settings.empty_cta_text }}
  </a>
</show-if-cart-empty>