<!-- YOTPO HOMEPAGE GALLERY | location: sections > yotpo-homepage-gallery.liquid -->
<div
	class="yotpo yotpo-pictures-widget"
	data-gallery-id="63e3cc65984ccc002964a678">
</div>
<!-- END | YOTPO HOMEPAGE GALLERY  -->

{% schema %}
{
  "name": "Yotpo Homepage Gallery",
  "settings": [],
  "presets": [
    {
      "name": "Yotpo Homepage Gallery",
      "category": "Yotpo Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}